@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Pentru a plasa o comanda va rog sa va logati pe site.
</div>
<div class="text-center">
    In cazul in care nu aveti cont puteti accesa butonul de register pentru a va creea un cont.
</div>
<div class="text-center">
    Va multumim pentru intelegere!
</div>
